/**
 * Estilos del bloque en el frontend
 *
 * @package BravesChat
 */

.wp-block-braves-chat-widget {
    position: relative;
}

.braveslab-chat-widget-container {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}